.product {
    background-image: url("../../assests/generalbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;
}



.chooseprintbase {
    height: 67px;

}

.btnsProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 34px;
    column-gap: 79px;
    width: 80vw;
  
  }
  
  .productBtn {
    width: 200px;
  }
  .productBtn:active{
    opacity: 50%;
}
.arrow {
    height: 76px;
  }
  
  .btnsArrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
  }