.subject {
  background-image: url("../../assests/generalbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  /* padding-top: 213px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 45px;
}

.subjectBtn {
  width: 250px;
}

.chooseSubject {
  /* height: 67px; */
  height: 63px;
  margin-bottom: 40px;
}

.btnsSubject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  /* gap: 10px; */
  column-gap: 60px;
  width: 75vw;
}



.arrow {
  height: 76px;
}

.btnsArrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}