.showsong{ white-space: pre-line;
background-image: url("../../assests/nameofsong.png");
background-repeat: no-repeat;
background-size:contain;

}

.showSongs {
    background-image: url("../../assests/generalbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* padding-top: 213px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .choosesong {
    height: 67px;
  }