.selectPartOfSong {
    background-image: url("../../assests/generalbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* padding-top: 213px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .songbackground  {
    height: 90px;
  }
  .chossepartofsong {
    height: 100px;
  }
  .partOfSongCopied{
    height: 100px;
    background-image: url("../../assests/partOfSongCopied.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.arrow {
  height: 76px;
}

.btnsArrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}