.designBackground {
    background-image: url("../../assests/generalbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    padding-top: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}



.designBtn {
    width: 180px;
    padding: 13px;

}
.designBtn:active{
  opacity: 50%;
}
.choosedesign {
    height: 86px;
}

.designbtns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 37px;
    padding: 18px;
}

.arrow {
  height: 76px;
}

.btnsArrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}